*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item .active{
    text-decoration: underline;
}

/*Footer*/

.socialmaps{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    // padding: 20px;
    margin-top: 25px;
    // border-top: 1px solid #e7e7e7;
    // @extend .prueba__extend;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;

    // display: flex;
    // justify-content: center;

    button {
        margin: 10px;
        padding: 15px;
    }
}

.down__footer{
    justify-content: center;
    // text-align: center;
}


.page-footer {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px 20px 0px 20px;
    margin-top: 25px;
    border-top: 1px solid #e7e7e7;
    @extend .prueba__extend;
}

.prueba__extend{
    background-color: #ffffff;
}

.row{
    justify-content: space-between;
}

.footer-copyright{
    color: #0000008c;
    font-family: 'Benne', serif;
    font-size: 15px;
}

.text-uppercase{
    font-size: 15px;
    font-family: 'Benne', serif;
    text-align: center;
    text-decoration: underline;
}

.col-md-6 p{
    font-family: 'Benne', serif;
    
}

.list-unstyled{  

    li{
        text-align: center;
    }
    
    a{
    color: #000000;
    font-family: 'Benne', serif;
    text-decoration: none;
}
}

/*End Footer*/


/*Mixin*/ /*Prueba If*/

@mixin dot($size, $pruebaif) {
    padding: $size;
    color: #000000;

    @if ($pruebaif == 'yes') {
        color: #000000;
    }
}

/*end mixin*/


/*Prueba Map*/
$mapSocial: (
    twitter: #55acee,
    instagram: #c92d8f,
    facebook: #0606ca
    );

@each $ms, $colors in $mapSocial{
    .btn-#{$ms} {
        background-color: $colors;
        border: 0;
        cursor: pointer;
        color: #ffffff;
    }
}

/*end Prueba Map*/

/*Prueba map-get*/

$style: (
    color: #7a7a7a,
    centrado: center,
    valorRem: 1rem
);

.down__footer{
    color: map-get($style, color);
    text-align: map-get($style, centrado);
    font-size: map-get($style, valorRem);
}

/*end prueba map-get*/