*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item .active{
    text-decoration: underline;
}

.page-footer {
    width: 100%;
    margin: auto;
    margin-top: 25px;
    border-top: 1px solid #e7e7e7;
    @extend .prueba__extend;
    .container-fluid{
        border-top: 1px solid #e7e7e7;
        padding-top: 10px;
    }
}

.prueba__extend{
    background-color: #ffffff;
}

.row{
    justify-content: space-between;
}

.footer-copyright{
    color: #0000008c;
    font-family: 'Benne', serif;
    font-size: 15px;
}

.text-uppercase{
    font-size: 17px;
    font-family: 'Benne', serif;
    text-align: center;
    padding: 5px 0px 0px 0px;
    color: #ffffff;
    font-weight: lighter;
    background-color: #3a3a3a;
    text-transform: none !important;
}

.col-md-6 p{
    font-family: 'Benne', serif;
    text-align: left;
    color: #3a3a3a;
}

.ms-30 {
    padding: 10px;
}

.list-unstyled{
    border: 1px solid #e7e7e7;

    li{
        text-align: center;
    }
    
    a{
    color: #3a3a3a;
    font-family: 'Benne', serif;
    text-decoration: none;
    display: block;

    &:hover{
        background-color: #3a3a3a;
        transition: 1s;
        color: #ffffff;
    }
}
}

/*End Footer*/

/*Mixin*/ /*If*/

@mixin dot($size, $pruebaif) {
    padding: $size;
    color: #000000;

    @if ($pruebaif == 'yes') {
        color: #000000;
    }
}

/*end mixin*/
