/*RESPONSIVE*/

@media screen and (max-width:965px){

    .editable{
        text-align: center;
    }

    .menu_editable{
        text-align: center;
    }

    .imagen_editable{
        display: none;
    }

    .interno{
        width: 100%;
        text-align: center;
    }

    .menu_editable{
        width: 100%;
        text-align: center;
    }

    .nombre_apellido_certificado {
        max-width: 100%;
    }

    .menuPrincipal {
        max-width: 100%;
    }
}

@media screen and (max-width:800px){

    .contenedor__1{
        width: 100%;
    }

    .imagen_editable{
        object-fit: none;
    }

    .navmenu{
        display: none;
    }

    .contenedor{
        width: 100%;
    }

    .editable{
        text-align: center;
    }

    .menu_editable{
        text-align: center;
    }

    .menu__1 ul li{
        list-style: none;
    }

    .skill-count{
        display: none;
    }
}

@media screen and (max-width:700px){

    .contenido_general {
        width: 100%;
        margin: auto;
        display: block;
    }
    .cuadro_img1{
        width: 100%;
    }
}

@media screen and (max-width:600px){

    .contenido_total{
        width: 100%;
    }

    header h1{
        font-size: 30px;
    }

    .texto_principal h2{
        font-size: 20px;
    }

    .iconos_footer li{
        display: none;
    }

    .copyright {
        text-align: center;
        width: 100%;
    }

    .menu__responsive{
        padding: 40px 0px 0px 0px;
    }

    .about__me {
        grid-template-rows: repeat(4, 1fr);
    }
    
    .primer_imagen{
        grid-column: 1 / -1;
    }

    .texto__2{
        grid-column: 1 / -1;
        grid-row-start: 4;
    }

    .texto__1{
        grid-column: 1 / -1;
    }

    .segunda_imagen{
        grid-column: 1 / -1;
        grid-row-start: 3;
    }

    .main2{
        min-width: 0;
        height: auto;
        width: 100%;
    }

    .imagenPrincipal{
        display: none;
    }

    .interno{
        width: 100%;
        text-align: center;
    }

    .menu_editable{
        width: 100%;
        text-align: center;
    }

    .nombre_apellido_certificado {
        max-width: 100%;
    }

    .menuPrincipal {
        max-width: 100%;
    }
}

@media screen and (max-width:425px){ 

    .menuPrincipal__2 li a{
        font-size: 22px;
    }

    .editable h2 {
        font-size: 40px;
    }

    .nombre_apellido_certificado p i {
        font-size: 19px;
    }

    .contenedor__1{
        background-image: none;
    }
}

@media screen and (max-width:400px){

    .contenedor{
        width: 100%;
    }

    .main2{
        min-width: 0;
        height: auto;
    }

    .imagenPrincipal{
        display: none;
    }

    .interno{
        width: 100%;
        text-align: center;
    }

    .menu_editable{
        width: 100%;
        text-align: center;
        
    }

    .container-fluid a.navbar-brand {
        font-size: 30px;
    }
}

/*End Responsive*/