/*WORKS PAGE*/

.contenido_general {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
}

.contenido_secundario{
    margin-bottom: 40px;
}

.cuadro_img1{
    position: relative;
    height: 200px;
    width: 250px;
    overflow: hidden;
    cursor: pointer;

    img{
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out;
    }

    &:hover > .capa{
        opacity: 1;
        visibility: visible;
    }

    &:hover > img{
        transform: scale(1.3);
    }

    &:hover > .capa h3{
        margin-top: 50px;
        margin-bottom: 15px;
    }
}

.capa{
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 43, 43, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;

    a {
        text-decoration: none;
    }

    h3{
        color: #fff;
        font-weight:bolder;
        margin-bottom: 120px;
        transition: all 500ms ease-out;
        margin-top: 30px;
    }

    p {
    color: #fff;
    font-size: 14px;
    width: 100%;
    max-width: 220px;
    margin: auto;
    }
}

/*End WORKS PAGE*/

